{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
  <section>
    <header class="main">
      <h1>{{title}}</h1>
    </header>
  {% include "tease-list.twig" with {posts:posts} %}
  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
  </section>
{% endblock %}
