<footer id="footer">
    <p class="copyright">{{site.title}}© {{"now"|date('Y')}}. All rights reserved. Theme Design: <a target="_blank" href="https://html5up.net">HTML5 UP</a> Wordpress Theme Development: <a target="_blank" href="https://github.com/matiasbenedetto">Matias Benedetto</a></p>
</footer>